@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family: "Space Grotesk", sans-serif;
  overflow-x: hidden;
}
.App {
  text-align: center;
  
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 106%;
  object-fit: cover;
  z-index: -1;
 
}
.invert-video {
  filter: hue-rotate(180deg); /* Adjust the degree as needed */
}
.landing{
  min-height: 100vh;
  height: 100%;
  margin-bottom: -12%;
min-width: 100vw;

}
.landing h1, .landing h2{
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  letter-spacing: 0.025em;
  font-size: 5em;
}

.bg-custom{
  background-color: #2c1e4a;
}
.video-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%) scaleX(-1);
  z-index: -1;
}
.blob-1{
 
  width: 4em;
}

.video-background .content {
  position: relative;
  z-index: 1;
  color: white;
  
}
.video-background2 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-background2 video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
}
video{
  pointer-events: none;
}

@media screen and (max-width: 650px) { 
  .landing{
    min-height: 100vh;
    height: 100%;
    margin-bottom: -12%;
  min-width: 100vw;
  
  }

  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 211%;
    object-fit: cover;
    z-index: -1;
   
  }
  .background-video.invert-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 267%;
    object-fit: cover;
    z-index: -1;
   
  }
  .video-background2{
    background-color: #2c1e4a;
   
  }
  video{
    pointer-events: none;
  }
 .mobile-container{
  width: 100% !important;
 }
  .landing h1, .landing h2{
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
   text-align: left;
    font-size: 2em;
  }
  .blob-1{
 
    width: 100%;
  }
  .service-cards{
    margin:auto;
    width: 100%;
  }
  .card-group-service{
    margin-left: 2em;
  }
  .contact-grid{
    margin-bottom: 20%;
  }
}

/* Medium Mobile (md) */
@media screen and (max-width: 768px) {

  .landing{
    min-height: 100vh;
    height: 100%;
    margin-bottom: -12%;
  min-width: 100vw;
  
  }
  video{
    pointer-events: none;
  }

  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 211%;
    object-fit: cover;
    z-index: -1;
   
  }
  .background-video.invert-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 267%;
    object-fit: cover;
    z-index: -1;
   
  }
 }